<div class="row">
    <header><h1>Add Your Property</h1></header>
    <form role="form" id="form-submit" class="form-submit" action="thank-you.html">
        <div class="row">
            <div class="block">
                <div class="col-md-12 col-sm-12">
                    <section id="submit-form">
                        <section id="basic-information">
                            <header><h2>Basic Information</h2></header>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="submit-title">Title</label>
                                        <input type="text" class="form-control" id="submit-title" name="title" required>
                                    </div><!-- /.form-group -->
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="submit-price">Price</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">$</span>
                                            <input type="text" class="form-control" id="submit-price" name="price" pattern="\d*" required>
                                        </div>
                                    </div><!-- /.form-group -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="submit-description">Description</label>
                                <textarea class="form-control" id="submit-description" rows="8" name="submit-description" required></textarea>
                            </div><!-- /.form-group -->
                        </section><!-- /#basic-information -->

                        <section>
                            <div class="row">
                                <div class="block clearfix">
                                    <div class="col-md-6 col-sm-6">
                                        <section id="summary">
                                            <header><h2>Summary</h2></header>
                                            <div class="form-group">
                                                <label for="zone">Zone</label>
                                                <select name="zone" id="zone">
                                                    <option value="bagmati">Bagmati</option>
                                                    <option value="bheri">Bheri</option>
                                                    <option value="dhawalagiri">Dhawalagiri</option>
                                                    <option value="gandaki">Gandaki</option>
                                                    <option value="janakpur">Janakpur</option>
                                                    <option value="karnali">Karnali</option>
                                                    <option value="koshi">Koshi</option>
                                                    <option value="lumbini">Lumbini</option>
                                                    <option value="mahakali">Mahakali</option>
                                                    <option value="mechi">Mechi</option>
                                                    <option value="narayani">Narayani</option>
                                                    <option value="rapti">Rapti</option>
                                                    <option value="sagarmatha">Sagarmatha</option>
                                                    <option value="seti">Seti</option>
                                                </select>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="type">Property Type</label>
                                                        <select name="type" id="type">
                                                            <option value="apartment">Apartment</option>
                                                            <option value="flat">Flat</option>
                                                            <option value="house">House</option>
                                                            <option value="land">Land</option>
                                                        </select>
                                                    </div><!-- /.form-group -->
                                                </div><!-- /.col-md-6 -->
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="status">Status</label>
                                                        <select name="status" id="status">
                                                            <option value="sale">Sale</option>
                                                            <option value="rent">Rent</option>
                                                        </select>
                                                    </div><!-- /.form-group -->
                                                </div><!-- /.col-md-6 -->
                                            </div><!-- /.row -->
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="beds">Bedrooms</label>
                                                        <input type="number" class="form-control" id="beds" name="beds" pattern="\d*" required>
                                                    </div><!-- /.form-group -->
                                                </div><!-- /.col-md-6 -->
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="baths">Bathrooms</label>
                                                        <input type="number" class="form-control" id="baths" name="baths" pattern="\d*" required>
                                                    </div><!-- /.form-group -->
                                                </div><!-- /.col-md-6 -->
                                            </div><!-- /.row -->
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="landSize">Land Size</label>
                                                        <div class="input-group">
                                                            <input type="number" class="form-control" id="landSize" name="landSize" pattern="\d*" required>
                                                            <span class="input-group-addon">m<sup>2</sup></span>
                                                        </div>
                                                    </div><!-- /.form-group -->
                                                </div><!-- /.col-md-6 -->
                                                <div class="col-md-6 col-sm-6">
                                                  <div class="form-group">
                                                      <label for="builtArea">Built Area</label>
                                                      <div class="input-group">
                                                          <input type="number" class="form-control" id="builtArea" name="builtArea" pattern="\d*" required>
                                                          <span class="input-group-addon">m<sup>2</sup></span>
                                                      </div>
                                                  </div><!-- /.form-group -->
                                                </div><!-- /.col-md-6 -->
                                            </div><!-- /.row -->
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                  <div class="form-group">
                                                      <label for="availability">Availability</label>
                                                      <select name="availability" id="availability">
                                                          <option value="immediate">Immediately</option>
                                                          <option value="three_months">Within 3 Months</option>
                                                          <option value="six_months">Within 6 Months</option>
                                                          <option value="nine_months">Within 9 Months</option>
                                                          <option value="year_above">Year above</option>
                                                      </select>
                                                  </div><!-- /.form-group -->
                                                </div><!-- /.col-md-6 -->
                                                <div class="col-md-6 col-sm-6">
                                                  <div class="form-group">
                                                      <label for="condition">Condition</label>
                                                      <select name="condition" id="condition">
                                                          <option value="good">Good</option>
                                                          <option value="fair">Fair</option>
                                                          <option value="excellent">Excellent</option>
                                                      </select>
                                                  </div><!-- /.form-group -->
                                                </div><!-- /.col-md-6 -->
                                            </div><!-- /.row -->
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                  <div class="form-group">
                                                      <label for="mainRoadDistance">Distance from main road</label>
                                                      <div class="input-group">
                                                          <input type="number" class="form-control" id="mainRoadDistance" name="mainRoadDistance" pattern="\d*" required>
                                                          <span class="input-group-addon">km</span>
                                                      </div>
                                                  </div><!-- /.form-group -->
                                                </div><!-- /.col-md-6 -->
                                                <div class="col-md-6 col-sm-6">
                                                  <div class="form-group">
                                                      <label for="garage">Garage</label>
                                                      <select name="garage" id="garage">
                                                          <option value="yes">Yes</option>
                                                          <option value="no">No</option>
                                                      </select>
                                                  </div><!-- /.form-group -->
                                                </div><!-- /.col-md-6 -->
                                            </div><!-- /.row -->
                                        </section><!-- /#summary -->
                                    </div><!-- /.col-md-6 -->
                                    <div class="col-md-6 col-sm-6">
                                        <section id="place-on-map">
                                            <header class="section-title">
                                                <h2>Place on Map</h2>
                                                <span class="link-arrow geo-location">Get My Position</span>
                                            </header>
                                            <div class="form-group">
                                                <label for="address-map">Address</label>
                                                <input type="text" class="form-control" id="address-map" name="address">
                                            </div><!-- /.form-group -->
                                            <label for="address-map">Or drag the marker to property position</label>
                                            <div id="submit-map"></div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="latitude" name="latitude" readonly>
                                                    </div><!-- /.form-group -->
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="longitude" name="longitude" readonly>
                                                    </div><!-- /.form-group -->
                                                </div>
                                            </div>
                                        </section><!-- /#place-on-map -->
                                    </div><!-- /.col-md-6 -->
                                </div><!-- /.block -->
                            </div><!-- /.row -->
                        </section>

                        <section class="block" id="gallery">
                            <header><h2>Gallery</h2></header>
                            <div class="center">
                                <div class="form-group">
                                  <div id="photos-uploader" action="/upload" class="dropzone"></div>
                                  <input type="hidden" class="images-input" name="images" value="" />
                                </div>
                            </div>
                        </section>

                        <section id="property-features" class="block">
                            <section>
                                <header><h2>Property Features</h2></header>
                                <ul class="submit-features">
                                    <li><div class="checkbox"><label><input type="checkbox">Air conditioning</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox">Water Supply</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox">Heating</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox">Internet</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox">Electricity</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox">Gym</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox">Swimming Pool</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox">Garbage Disposal</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox">Telephone Line</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox">Cable TV</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox">Pets Room</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox">Security</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox">Terrace</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox">Parking</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox">Playground</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox">Garden</label></div></li>
                                    <li><div class="checkbox"><label><input type="checkbox">Garage</label></div></li>
                                </ul>
                            </section>
                        </section>
                        <hr>
                    </section>
                </div><!-- /.col-md-12 -->
            </div>
        </div><!-- /.row -->
        <div class="row">
            <div class="block">
                <div class="col-md-12 col-sm-12">
                    <div class="center">
                        <div class="form-group">
                            <button type="submit" class="btn btn-default large">Submit Property</button>
                        </div><!-- /.form-group -->
                    </div>
                </div>
            </div>
        </div>
    </form><!-- /#form-submit -->
</div><!-- /.container -->
