<!-- Page Footer -->
<footer id="page-footer">
    <div class="inner">
        <aside id="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <article>
                            <h3>About Us</h3>
                            <p>Vel fermentum ipsum. Suspendisse quis molestie odio. Interdum et malesuada fames ac ante ipsum
                                primis in faucibus. Quisque aliquet a metus in aliquet. Praesent ut turpis posuere, commodo odio
                                id, ornare tortor
                            </p>
                            <hr>
                            <a href="#" class="link-arrow">Read More</a>
                        </article>
                    </div><!-- /.col-sm-3 -->
                    <div class="col-md-4 col-sm-4">
                        <article>
                            <h3>Contact</h3>
                            <address>
                                <strong>Your Company</strong><br>
                                4877 Spruce Drive<br>
                                West Newton, PA 15089
                            </address>
                            +1 (734) 123-4567<br>
                            <a href="#">info@nepalagents.com</a>
                        </article>
                    </div><!-- /.col-sm-3 -->
                    <div class="col-md-4 col-sm-4">
                        <article>
                            <h3>Useful Links</h3>
                            <ul class="list-unstyled list-links">
                                <li><a href="#">All Properties</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Login and Register Account</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Terms and Conditions</a></li>
                            </ul>
                        </article>
                    </div><!-- /.col-sm-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </aside><!-- /#footer-main -->
        <aside id="footer-thumbnails" class="footer-thumbnails"></aside><!-- /#footer-thumbnails -->
        <aside id="footer-copyright">
            <div class="container">
                <span>Copyright © 2017. All Rights Reserved.</span>
                <span class="pull-right"><a href="#top" class="roll">Go to top</a></span>
            </div>
        </aside>
    </div><!-- /.inner -->
</footer>
<!-- end Page Footer -->

<div id="overlay"></div>

<script type="text/javascript" src="/assets/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAs9EyQWL0fKR2x6Sy5pI_dIENsOlde4ao"></script>
<script type="text/javascript" src="/assets/js/markerwithlabel_packed.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/smoothscroll.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.placeholder.js"></script>
<script type="text/javascript" src="/assets/js/icheck.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.vanillabox-0.1.5.min.js"></script>
<script type="text/javascript" src="/assets/js/retina-1.1.0.min.js"></script>
<script type="text/javascript" src="/assets/js/jshashtable-2.1_src.js"></script>
<script type="text/javascript" src="/assets/js/jquery.numberformatter-1.2.3.js"></script>
<script type="text/javascript" src="/assets/js/tmpl.js"></script>
<script type="text/javascript" src="/assets/js/jquery.dependClass-0.1.js"></script>
<script type="text/javascript" src="/assets/js/draggable-0.1.js"></script>
<script type="text/javascript" src="/assets/js/jquery.slider.js"></script>
<script type="text/javascript" src="/assets/js/dropzone.js"></script>
<script type="text/javascript" src="/assets/js/custom-map.js"></script>
<script type="text/javascript" src="/assets/js/custom.js"></script>
<!--[if gt IE 8]>
<script type="text/javascript" src="assets/js/ie.js"></script>
<![endif]-->
<script>
    $(window).load(function(){
        initializeOwl(false);
    });
    $("a[href='#top']").click(function() {
        $("html, body").animate({ scrollTop: 0 }, 100);
        return false;
      });
</script>
