<div class="navigation">
    <div class="secondary-navigation">
        <div class="container">
            <div class="contact">
                <figure><strong>Phone:</strong>+1 810-991-3842</figure>
                <figure><strong>Email:</strong>info@nepalagents.com</figure>
            </div>
            <div class="user-area">
                <% if (!locals.user) { %>
                <div class="actions">
                    <a href="/users/signup" class="promoted"><strong>Register</strong></a>
                    <a href="/users/login">Sign In</a>
                </div>
                <% } else { %>
                  <div class="actions">
                      <a href="/users/profile" class="promoted"><strong><span>Welcome</span>,<%= locals.user.firstName %> <%= locals.user.lastName %></strong></a>
                  </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="container">
        <header class="navbar" id="top" role="banner">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand nav" id="brand">
                    <a href="/"><img src="/assets/img/logo.png" alt="brand"></a>
                </div>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Properties</a></li>
                    <li><a href="#">About</a></li>
                    <li class="has-child"><a href="#">Calculator</a>
                        <ul class="child-navigation">
                            <li><a href="#">Area Calculator</a></li>
                            <li><a href="#">Mortgage Calculator</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </nav><!-- /.navbar collapse-->
            <div class="add-your-property">
                <a href="submit.html" class="btn btn-default"><i class="fa fa-plus"></i><span class="text">Add Your Property</span></a>
            </div>
        </header><!-- /.navbar -->
    </div><!-- /.container -->
</div><!-- /.navigation -->
