<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body class="page-homepage navigation-fixed-top page-slider page-slider-search-box" id="page-top" data-spy="scroll" data-target=".navigation" data-offset="90">
  <div class="wrapper">
    <% include ../partials/header %>

    <%- body %>

    <% include ../partials/footer %>
    <%- script %>
  </div>
  </body>
</html>
