<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body class="page-sub-page page-listing page-grid page-search-results" id="page-top">
  <div class="wrapper">
    <% include ../partials/header %>

    <%- body %>

    <% include ../partials/footer %>
    <%- script %>
  </div>
  </body>
</html>
