<!-- Page Content -->
<div id="page-content" class="content-space">
    <!-- Breadcrumb -->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Reset Password</li>
        </ol>
    </div>
    <!-- end Breadcrumb -->

    <div class="container">
        <header><h1>Reset Password</h1></header>
        <span id="errorMsg"></span>
          <% if(messages.error) { %>
              <div class="alert alert-danger" style="<%= messages.error ? 'margin-top:20px;' : 'display: none' %>"><strong><%= messages.error ? messages.error[0] : '' %></strong></div>
          <% } %>
          <% if(messages.success) { %>
                <div class="alert alert-success" style="<%= messages.success ? 'margin-top:20px;' : 'display: none' %>"><strong><%= messages.success ? messages.success[0] : '' %></strong></div>
          <% } %>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                <form role="form" id="form-reset-password" method="post" action="/users/reset/password">
                  <input type="hidden" name='userId' id='userId'>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password:</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                    </div><!-- /.form-group -->
                    <div class="form-group clearfix">
                        <button type="button" id="btnResetPassword" class="btn pull-right btn-default">Reset Password</button>
                    </div><!-- /.form-group -->
                </form>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>

<script>
$(document).ready(function() {
  var url,id;
  url = window.location.href;
  id =  url.substr(url.lastIndexOf('/') + 1);
  $('#btnResetPassword').on('click',function() {
    if($('#password').val() != $('#confirmPassword').val()) {
      $('#errorMsg').html('<p class="alert alert-danger alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">×</a><strong>ERROR! Confirm password did not match!</strong></p>')
      return false;
    }
    $('input[name=userId]').val(id);
    $('#form-reset-password').submit();
  })
});
</script>
